body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.highlighted-text {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad del 50% */
  color: white; /* Color del texto blanco */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
  max-width: 600px; /* Ancho máximo del párrafo */
  margin: 20px auto; /* Centrar el párrafo horizontalmente */
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
